<section class="modal-overlay" id="ovarlay">
  <div class="modal" id="modal">
    <div class="modal-header">
      <h3>Remover Moto</h3>
      <a href="/" id="close-modal-put">x</a>
    </div>

    <div class="modal-body">
      <p>Deseja excluir</p>
      <div id="betns-del">
        <a id="no" href="/">Não</a>
        <a id="yes" href="/remove/<%= motoDel.id %>">Sim</a>

      </div>
    </div>
  </div>
</section>
